.g-typography{
    &-title{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $black;
        &_s20{
            font-size: 20px;
        }
        &_s16{
            font-size: 16px;
        }
    }
    &-desc{
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: $desc;
        &_s16{
            font-size: 16px;
        }
        &_s14{
            font-size: 14px;
        }
    }
}


